# ---------------------------------
# Common aliases
# ---------------------------------

alias reload='source ~/.zshrc'

alias s='sudo $1'
alias c='clear'
alias '?=man'
alias 'help=man'
alias 'h=history'
alias 'hs=history | grep -i'
#copy output of last command to clipboard
alias cl='fc -e -|pbcopy'

alias grep='grep --color=auto'

# Folder navigation
alias home='cd ~'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

# Folder listings
if [ -x "$(command -v eza )" ]
then
  alias ll='eza -a -a -l --git --time-style=long-iso --group-directories-first --icons'
  alias tree='eza -T --group-directories-first'
else
  alias ll='ls -alF'
fi

if [ -x "$(command -v bat)" ]; then
  unalias -m 'cat'
  alias cat='bat -pp --theme="Nord"'
fi

if [ -x "$(command -v fnm)" ]; then
  alias nvm='fnm'
fi


if [ -x "$(command -v pnpm)" ]; then
  alias pn='pnpm'
fi

# ---------------------------------
# vim
# ---------------------------------

if [ -x "$(command -v nvim)" ]; then
  alias vim='nvim'
fi

alias vifi='vim $(fzf)'


# ---------------------------------
# Safety nets
# ---------------------------------
# do not delete / or prompt if deleting more than 3 files at a time
# alias rm='rm -I --preserve-root' # doesn't work on macos "illegal option -- I"

# confirmation
alias mv='mv -i'
alias cp='cp -i'
alias ln='ln -i'

# Parenting changing perms on /
alias chown='chown --preserve-root'
# alias chmod='chmod --preserve-root' # doesn't work on macos
alias chgrp='chgrp --preserve-root'

# ---------------------------------
# Git
# ---------------------------------

alias ungit="find . -name '.git' -exec rm -rf {} \;"
# Note: these aliases have been moved to .gitconfig
alias g='git'
alias gf='git flow'

# ---------------------------------
# Brew
# ---------------------------------
# Update everything at once (brew && brew cask)
alias brewup='brew update && brew upgrade && brew cu -a -f --cleanup -y && brew cleanup; brew doctor'


# ---------------------------------
# Python
# ---------------------------------
alias p='python'

# This should be the last line of the file
# For local changes
# Don't make edits below this
[ -f ~/.aliases.local ] && source ~/.aliases.local
